[submodule "ThirdParty/lz4"]
	path = ThirdParty/lz4
	url = git@github.com:lz4/lz4.git
[submodule "ThirdParty/spdlog"]
	path = ThirdParty/spdlog
	url = git@github.com:gabime/spdlog.git
[submodule "ThirdParty/tinygltf"]
	path = ThirdParty/tinygltf
	url = git@github.com:syoyo/tinygltf.git
[submodule "ThirdParty/assimp"]
	path = ThirdParty/assimp
	url = git@github.com:assimp/assimp.git
[submodule "ThirdParty/glm"]
	path = ThirdParty/glm
	url = git@github.com:g-truc/glm.git
[submodule "ThirdParty/openal-soft"]
	path = ThirdParty/openal-soft
	url = git@github.com:kcat/openal-soft.git
[submodule "ThirdParty/libsndfile"]
	path = ThirdParty/libsndfile
	url = git@github.com:libsndfile/libsndfile.git
[submodule "ThirdParty/minimp3"]
	path = Audio/ThirdParty/minimp3
	url = git@github.com:lieff/minimp3.git
[submodule "ThirdParty/ctti"]
	path = ThirdParty/ctti
	url = git@github.com:Manu343726/ctti.git
[submodule "ThirdParty/freetype"]
	path = ThirdParty/freetype
	url = https://gitlab.freedesktop.org/freetype/freetype.git
# [submodule "ThirdParty/box2d"]
# 	path = ThirdParty/box2d
# 	url = git@github.com:erincatto/box2d.git
