[submodule "Ebony/ThirdParty/rapidjson"]
	path = Ebony/ThirdParty/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "AssetLib/ThirdParty/lz4"]
	path = AssetLib/ThirdParty/lz4
	url = git@github.com:lz4/lz4.git
[submodule "AssetLib/ThirdParty/rapidjson"]
	path = AssetLib/ThirdParty/rapidjson
	url = git@github.com:Tencent/rapidjson.git
